// VARIABLE COLOR
$iconColor: #3d82eb;
$whiteColor: #ffffff;
$blackColor: #000000;
$grayColor: #B7B7B7;
$borderBottomColor: #EDEDED;
$hoverColor: #4E4E4E;
$boxShadow: #00000026;
$checkedLabelColor: #323232;
$inputColor: #323232;
$footerColor: #505050;
// ************************